.container{
  display:flex;
  flex-direction: row;
}

.grid-container {
  display: grid;
  min-height: 100%;
  grid-template-columns: minmax(250px, 0.4fr) 1.3fr;
  grid-auto-rows: minmax(80px, 0.15fr)
    minmax(var(--chart-min-height), 1.4fr)
    minmax(var(--table-min-height), max-content);
  grid-template-areas: "header-container header-container" "product-container chart-container" "product-container table-container";
}

.stats{
  display:flex;
  flex-direction: column; 
}

.product-container {
  grid-area: product-container;
  background-color: white;
  border-left: 4px solid #f7f8fa;
  border-right: 2px solid #f7f8fa;
  border-top: 40px solid #f7f8fa;
  border-bottom: 40px solid #f7f8fa;
}
#product img {
  height: 100%;
  width: 100%;
}
#title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2%;
}
#subtitle {
  text-align: center;
  font-weight: 300;
  color: gray;
  padding: 2%;
}
#spans {
  text-align: center;
}
.tags {
  border: 2px solid #f7f8fa;
  border-radius: 5px;
  padding: 2%;
  margin: 2%;
  display: inline-block;
}
#icons {
  text-align: left;
}
#overview-icon,
#sales-icon {
  margin: 5%;
}
#overview-icon-text,
#sales-icon-text {
  margin-left: 10%;
}
#product a {
  text-decoration: none;
  color: black;
}
#product hr {
  background-color: #f7f8fa;
  height: 2px;
  border: 0;
}
/* Chart Styles */
.chart-container {
  grid-area: chart-container;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-left: 2px solid #f7f8fa;
  border-right: 2px solid #f7f8fa;
  border-top: 40px solid #f7f8fa;
  border-bottom: 40px solid #f7f8fa;
}

.table-container {
  grid-area: table-container;
  background-color: white;
  border-left: 2px solid #f7f8fa;
  border-right: 2px solid #f7f8fa;
  border-bottom: 40px solid #f7f8fa;
}
#table {
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table th {
  padding: 1%;
  font-weight: 300;
}
tbody td {
  border-top: 2px solid #f7f8fa;
  padding: 2%;
}
th:hover {
  cursor: pointer;
}

.headrer{
  text-align: center;
  background-color: darkblue;
  padding: 10px;
  box-shadow: 1px 5px 5px;
}
